<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", 'http://localhost:3000/about' %></li>
      <li><%= link_to "Contact", 'http://localhost:3000/contact' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
      <li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
    </ul>
  </nav>
</footer>